body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
   background-color:burlywood;
}

button{
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

img{
    width: 80px;
    margin-bottom: 30px;
    margin-left: 30px;
       
}