body {
      font-family: Arial, sans-serif;
      text-align: center;
      background: white;
      padding-top: 50px;
    }

    .container {
      background: rgb(2, 75, 185);
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      display: inline-block;
    }

    h1 {
      margin-bottom: 30px;
    }

    .senha {
      font-size: 80px;
      font-weight: bold;
      margin: 20px 0;
    }

    button {
      padding: 15px 30px;
      font-size: 18px;
      margin: 10px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background-color: #007BFF;
      color: white;
    }

    button:hover {
      background-color: #0056b3;
    }
    