body{
    font-family: Arial, sans-serif;
    max-width: 200px;
    margin:0 auto;
    padding: 20px;
    text-align: center;
    background-color: yellow;
}

h1{
    color: black;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button{
    background-color: #4b6cb7;
    color: white;
    border:none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-align: center;
    
}

resultado{
    background-color: gray;
}